<div class="container col-md-12">
  <div>
    <form class="col-6">
      <input
        name="image"
        [formControl]="buscar"
        placeholder="Buscar Personaje"
        class="form-control"
        id="icon"
      />
    </form>
  </div>

  <div class="container">
    <table class="table">
      <tr *ngFor="let heroe of heroes2">
        <td>{{ heroe.id }}</td>
        <td>{{ heroe.name }}</td>
        <td>
          <a
            [routerLink]="['/inicio/componente1/', heroe.id]"
            class="btn btn-info btn-block"
          >
            Ver
          </a>
        </td>
      </tr>
    </table>
  </div>
  <hr />

  <button type="button" (click)="filterA()" class="btn btn-default">
    <img
      src="../../../assets/refresh-cw.svg"
      alt=""
      width="20"
      height="20"
      title="Bootstrap"
    />
  </button>
  <div class="row justify-content-center h-100">
    <div
      *ngFor="let heroe of heroes"
      style="height: 400px; width: 250px"
      class="card w-25 border border-dark mx-2 my-2"
    >
      <img
        src="{{ heroe.images.lg }}"
        alt="Homer Simpson"
        style="height: 50%"
      />
      <div class="card-body text-start">
        <h5 class="text-center text-info">{{ heroe.name }}</h5>
        <div style="width: 100%">
          <ul class="list-group">
            <li class="list-group">Id: {{ heroe.id }}</li>
            <li class="list-group">
              Inteligencia :{{ heroe.powerstats.intelligence }}
            </li>
            <li class="list-group">Velocidad :{{ heroe.powerstats.speed }}</li>
            <li class="list-group">Poder :{{ heroe.powerstats.power }}</li>
            <li class="list-group">genero :{{ heroe.appearance.gender }}</li>
            <li class="list-group">Raza : {{ heroe.appearance.race }}</li>
          </ul>
        </div>
      </div>
      <a
        [routerLink]="['/inicio/componente1/', heroe.id]"
        class="btn btn-info btn-block"
      >
        Ver
      </a>
    </div>
  </div>
</div>
