<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../../../assets/eco.jpg" width="30" height="30" alt="" loading="lazy">
  </a>
  <ul class="nav justify-content-end">
  
    <li class="nav-item">
      <a class="nav-link active" href="/inicio"  >Voler al Inicio</a>
      
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
</nav>



