<div class="container">
 
  <div class="jumbotron jumbotron-fluid">
    
    <div class="container">      
      <h3 class="display-2">
        <img  height="250mp" weight="200mp" src={{objeto.images.lg}} alt="Homer Simpson">                
        {{objeto.name}}</h3>         
    </div>
  </div>



<table class="table table-hover">
    
    <tbody>
      <tr >        
        <td>id: {{objeto.id}}</td>
        <td>slug: {{objeto.slug}}</td>
        <td></td>
        <td></td>       
      </tr>
      <tr>
        <td>Powerstats</td>
        <td></td>
        <td></td>
        <td></td>        
      </tr>
      <tr>
        <td>Intelligence: {{objeto.powerstats.intelligence}}</td>
        <td>Strength: {{objeto.powerstats.strength}}</td>
        <td>Speed: {{objeto.powerstats.speed}}</td>
        <td>Durability: {{objeto.powerstats.durability}}</td>        
      </tr>
      <tr>
        <td>Power:{{objeto.powerstats.power}}</td>
        <td>Combat: {{objeto.powerstats.combat}}</td>
        <td>Intelligence: {{objeto.powerstats.intelligence}}</td>
        <td></td>        
      </tr>
      
    </tbody>
  </table>



  
</div>
